<div class="container">
    <main class="pt-5">
        <p class="pt-5">Home / Product / Details</p>
        <div class="row">
            <div class="col-5">
                <img src="../../../assets/product.png" alt="product">
            </div>
            <div class="col">
                <p class="h2">Havic HV G-92 Gamepad</p>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="bi bi-star-fill me-1 text-warning"></span>
                        <span class="bi bi-star-fill text-warning me-1"></span>
                        <span class="bi bi-star-fill text-warning me-1"></span>
                        <span class="bi bi-star-fill text-warning me-1"></span>
                        <span class="bi bi-star me-1"></span>
                        <small class="ms-2">(150 Reviews)</small>
                        <small class="fs-6 me-4 ms-4">|</small>
                        <small class="text-success">In Stock</small>
                    </div>
                </div>
                <p class="fs-4 mt-3">$ 192.00</p>
                <p class="fs-6">
                    PlayStation 5 Controller Skin High quality vinyl with air <br>
                    channel adhesive for easy bubble free install & mess free <br>
                    removal Pressure sensitive.
                </p>
                <div class="d-flex justify-content-start">
                    <p class="fs-5">Colors : </p>
                    <div class="mt-1 ms-2">
                        <span class="bi bi-circle-fill text-black me-2"></span>
                        <span class="bi bi-circle-fill text-primary"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <p class="fs-6">Size : </p>
                    <div class="d-flex justify-content-start box_">
                        <div class="border p-1 fs-6 ms-3">XS</div>
                        <div class="border p-1 px-2 fs-6 ms-3">S</div>
                        <div class="border p-1 px-2 fs-6 ms-3">M</div>
                        <div class="border p-1 px-2 fs-6 ms-3 bg-danger text-white">L</div>
                        <div class="border p-1 fs-6 ms-3">XL</div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-start mt-3">
                        <span class="bi bi-dash border fs-3 px-2"></span>
                        <input class="form-control w-25 text-center" value="2" type="number">
                        <span class="bi bi-plus bg-danger text-white border px-2 fs-3"></span>
                        <button class="btn btn-md bg-danger text-white ms-3 px-5">Buy Now</button>
                        <div class="border text-center p-2 ms-3 px-3 fs-5"><span class="bi bi-heart"></span></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-start mt-5 border p-4 w-75">
                        <div>
                            <span class="bi bi-truck fs-1 me-4"></span>
                        </div>
                        <div>
                            <p class="fs-5">Free Delivery</p>
                            <p class="fs-6">Enter Your Postal Code For Delivery Availbility</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start border p-4 w-75">
                        <div>
                            <span class="bi bi-arrow-repeat fs-1 me-4"></span>
                        </div>
                        <div>
                            <p class="fs-5">Return Delivery</p>
                            <p class="fs-6">Free 30 Days Delivery Return</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <app-product-list></app-product-list>
        </div>
    </main>
</div>
