<!-- <div class="bg-black">
  <div class="container">
  <p class="text-center text-sm text-white align-middle" style="height: 32px;">
    <small class="align-middle">Summer Sales For All Swim Suits And Free Express Delivery - OFF 50%
     <a href="#" class="text-bold text-white">Shop Now</a>
    </small> 
  </p>
</div>
</div> -->
<nav class="navbar navbar-expand-lg border-bottom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">FullCart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
        <div class="d-flex">
          <input class="form-control border me-2 transparent" type="search" placeholder="What are you looking for ? ">
          <button class="bi bi-search btn" type="submit"></button>
        </div>
        <div class="d-flex">
          <span class="bi bi-heart ms-4 fs-4"></span>
          <span class="bi bi-cart ms-4 fs-4"></span>
          <div class="dropdown">
            <span class="bi bi-person-circle text-danger ms-4 fs-4 dropdown-btn"></span>
            <div class="dropdown-content">
              <ul>
                <li><span class="bi bi-person me-4 fs-4"></span>My Account</li>
                <li><span class="bi bi-bag-check me-4 fs-4"></span>My Orders</li>
                <li><span class="bi bi-star me-4 fs-4"></span>My Reviews</li>
                <li><span class="bi bi-box-arrow-left me-4 fs-4"></span>Logout</li>
              </ul>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </nav>