<div class="p_card col bg-light">
    <div class="row m-4">
        <div class="align-items-center align-middle">
            <img src="../../../../assets/dogfood.png" alt="" style="width: 100px; height: auto;">
        </div>
    </div>
    <div class="w-100">
        <button class="btn bg-black text-white w-100 rounded-0">Add to Cart</button>
    </div>
   <div class="row bg-white w-100">
    <div>
        <p class="text-start mt-2">Breed Dry Dog Food</p> <!-- Adding text-start class to align text to left -->
    </div>
    <div class="d-flex justify-content-between p-2">
        <button class="btn rounded-0 btn-sm bg-white border-0 w-50 text-danger text-start">$ 400</button>
        <button class="btn rounded-0 btn-sm btn-success w-50">Buy Now</button>
    </div>
   </div>
</div>
