<div class="container">
    <main class="mt-5 mb-5">
        <div class="col">
            <div class="row">
                <div class="d-flex">
                    <div class="point-head bg-danger"></div>
                    <p class="fs-6 ms-2 text-danger">Categories</p>
                </div>
                <div>
                    <p class="fs-2">Browse By Category</p>
                </div>
            </div>
            <div class="row">
                <div class="row category d-flex justify-content-around">
                    <div class="col border">
                        <span class="bi bi-phone fs-1"></span>
                        <p class="fs-5">Phones</p>
                    </div>
                    <div class="col border">
                        <span class="bi bi-laptop fs-1"></span>
                        <p class="fs-5">Laptop</p>
                    </div>
                    <div class="col border bg-danger text-white">
                        <span class="bi bi-smartwatch fs-1"></span>
                        <p class="fs-5">Smartwatch</p>
                    </div>
                    <div class="col border">
                        <span class="bi bi-camera fs-1"></span>
                        <p class="fs-5">Camera</p>
                    </div>
                    <div class="col border">
                        <span class="bi bi-controller fs-1"></span>
                        <p class="fs-5">Controller</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
