<div class="container">
  <div class="row align-items-center pt-5">
    <div class="col">
      <img src="../../assets/side-image.png" style="width: 70%; height: auto;" alt="signin" class="px-3 align-middle" />
    </div>
    <div class="col-4 pt-5">
      <main>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="text-center">
            <h3 class="h2">Create an account</h3>
            <p class="">Enter your details below</p>
          </div>

          <div class="form-floating mt-2">
            <input
              [class.is-invalid]="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
              type="text"
              formControlName="firstName"
              id="firstName"
              class="form-control"
              placeholder="First Name"
            />
            <label for="firstName">First Name</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('firstName')?.errors?.['required']">Please enter first name
            </span>
          </div>

          <div class="form-floating mt-2">
            <input
              [class.is-invalid]="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
              type="text"
              formControlName="lastName"
              class="form-control"
              id="lastName"
              placeholder="lastName"
            />
            <label for="lastName">Last Name</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('lastName')?.errors?.['required']"
              >Please enter last name</span
            >
          </div>

          <div class="form-floating mt-2">
            <input
              [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="name@example.com"
            />
            <label for="email">Email</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('email')?.errors?.['required']">Please enter a email
            </span>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('email')?.errors?.['email']">Please enter valid email
            </span>
          </div>

          <div class="form-floating mt-2">
            <input
              [class.is-invalid]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
              type="text"
              formControlName="username"
              class="form-control"
              id="username"
              placeholder="name@example.com"
            />
            <label for="username">Username</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('username')?.errors?.['required']"
              >Please enter username</span
            >
          </div>

          <div class="form-floating mt-2">
            <input
              [class.is-invalid]="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched"
              type="date"
              class="form-control"
              id="dateOfBirth"
              formControlName="dateOfBirth"
              placeholder="name@example.com"
            />
            <label for="dateOfBirth">Date of Birth</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('dateOfBirth')?.errors?.['required']">Please select date of birth
            </span>
          </div>

          <div class="form-floating mt-3">
            <input
              [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
              type="password"
              formControlName="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
            <label for="password">Password</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('password')?.errors?.['required']">Please enter password
            </span>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('password')?.errors?.['maxlength']"
              >Please enter atleast 4 characters</span
            >
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('password')?.errors?.['minlength']"
              >Password should not be more than 8 characters</span
            >
          </div>

          <div class="form-floating mt-3">
            <input
              type="password"
              [class.is-invalid]="
                registerForm.get('confirmPassword')?.invalid &&
                registerForm.get('confirmPassword')?.touched
              "
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
            <label for="confirmPassword">Confirm Password</label>
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
              >Please enter confirm password</span
            >
            <span
              class="invalid-feedback"
              *ngIf="registerForm.get('confirmPassword')?.errors?.['notMatching']"
              >Password not matched</span
            >
          </div>

          <button class="btn btn-lg btn-danger mt-3 w-100 rounded-0" [disabled]="registerForm.invalid" type="submit">
            Create Account
          </button>
          <p class="mt-3 text-center">
            Already have account ? <a class="text-reset pointer cursor:pointer" routerLink="/login">Log in</a>
          </p>
        </form>       
      </main>
    </div>
  </div>
</div>
